<a href="/" class="title">&#123; Kata Cafe &#125; ;</a>

<style>
  .title {
    background: -webkit-linear-gradient(#00d8ff, #bd34fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @apply text-4xl font-bold text-center;
  }
</style>
